@font-face {
  font-family: "Akzidenz";
  src: url("../fonts/AkzidenzGroteskPro-Regular.woff2") format("woff2"),
  url("../fonts/AkzidenzGroteskPro-Regular.woff") format("woff"),
  url("../fonts/AkzidenzGroteskPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Trivia-Regular";
  src: url("../fonts/TriviaSerif-Regular.woff2") format("woff2"),
  url("../fonts/TriviaSerif-Regular.woff") format("woff"),
  url("../fonts/TriviaSerif-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Trivia-Book";
  src: url("../fonts/TriviaSerif-Book.woff2") format("woff2"),
  url("../fonts/TriviaSerif-Book.woff") format("woff"),
  url("../fonts/TriviaSerif-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Trivia-Hairline";
  src: url("../fonts/TriviaSerif-Hairline.woff2") format("woff2"),
  url("../fonts/TriviaSerif-Hairline.woff") format("woff"),
  url("../fonts/TriviaSerif-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
