*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-size: 17px;
    line-height: 22px;
    color: #4c4c4c;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.btn {
}

.title {
    font-family: 'Trivia-Book', Times, serif;
    text-transform: uppercase;
    color: #4b636e;
    font-size: 33px;
    line-height: 38px;
}

// Input number fix

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
