*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
}

body {
    @include font('trivia-hairline');
    font-size: 17px;
    line-height: 22px;
    color: #4c4c4c;
    height: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
    padding: 0;
    margin: 0;
}


// Input number fix

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    color: #4b636e;
    border: 1px solid #4b636e;
    padding: 11px 20px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        background-color: $primary;
        color: #ffffff;
    }
}

.btn--dark {
    border-color: transparent;
    background-color: $primary;
    color: #ffffff;

    &:hover {
        background-color: #ffffff;
        color: $primary;
        border-color: $primary; 
    }
}

.btn--light {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.title {
    @include font('trivia-book');
    text-transform: uppercase;
    color: #4b636e;
    font-size: 33px;
    line-height: 38px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;

    li {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 22px;
        color: $light;
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 10px;
        text-decoration: underline;
        font-weight: 400;

        &::before {
            position: absolute;
            content: "-";
            top: 50%;
            transform: translateY(-50%);
            right: -14px;
            color: $light;
        }

        &:last-child {
            text-decoration: none;
            color: #9b9c9c;
            margin-right: 0;
            &::before {
                content: none;
            }
        }

        &:first-child {
            margin-left: 0;
            
        }
    }
}

