
.item {
    padding-bottom: 50px;

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__slider-wrapper {
        display: flex;
        max-width: 100%;
        width: 100%;
    }

    &__slider {
        height: 500px;
        width: 640px;
        margin-left: 25px;
    }

    &__slider-el {
        width: 100%;
        height: 100%;
    }

    &__slider-thumbs {
        width: 170px;
        height: 420px;
    }

    &__slider-thumb {
        height: 140px;
        width: 100%;
    }

    &__info {
        margin-left: 25px;
        max-width: 305px;
    }

    &__title {
        font-size: 21px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $primary;
    }

    &__price {
        @include font('akzidenz');
        font-size: 25px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__btn {
        font-size: 14px;
    }

    // Swiper

    .swiper-slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background: url('../images/slider-arrow.svg') center no-repeat;
        background-size: 25%;
        height: 70px;
        top: -15px;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        margin: 0;
    }

    .swiper-button-next {
        bottom: -15px;
        top: auto;
        background: url('../images/slider-arrow-right.svg') center no-repeat;
        background-size: 25%;
    }
}
