.list {

    padding-bottom: 40px;
    
    &__title {
        margin-bottom: 30px;
    }

    &__keywords {
        @include font('akzidenz');
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 14px;
        color: #4c4c4c;
        margin-bottom: 30px;

        li {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        a {
            display: inline-block;
            padding: 5px;
            background-color: #eaeaea;
        }

        
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__content {
        max-width: 100%;
    }

    &__item {
        position: relative;
        max-width: 299px;
        min-height: 460px;
        padding-bottom: 50px;
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px;
    }

    &__img {
        height: 255px;
        .swiper-slide {
            height: 240px;
        }
    }

    &__price {
        @include font('akzidenz');
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #000000;
    }

    &__name {
        display: block;
        @include font('akzidenz');
        font-weight: 700;
        margin-bottom: 12px;
        color: $primary;
        font-size: 17px;
    }

    &__item-btn {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__btn-wrapper {
        text-align: center;
    }

    &__btn {
        padding: 12px 25px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: #d4d4d4;
        margin: 0 2px;
        height: 6px;
        width: 6px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
        background-color: $primary;
    }

}

.categories {
    @include font('akzidenz');
    font-size: 15px;
    padding-right: 15px;
    width: 200px;
    flex-shrink: 0;

    &__list {
        color: $primary;

        a {
            display: block;
            padding: 5px;
            transition: .3s ease;

            &:hover {
                color: #4ab0eb;
                text-decoration: underline;
            }

        }

        ul > li ul a {
            padding-left: 12px;
        }

        li.active {
            & > a {
                background-color: #e7ecef;
            }

        }
        
    }

    &__title {
        color: #565656;
        margin-bottom: 13px;
        font-weight: 700;
    }
}
