@media (max-width: 1600px) {
}

@media (max-width: 1280px) {

}

@media (max-width: 1170px) {
    .header {
        &__top {
            justify-content: space-around;
        }
    }

    .services {
        &__items {
            justify-content: flex-start;
        }

        &__item {
            margin-left: 15px;
            margin-right: 15px;
        }

        &__img {
            img {
                width: auto;
                height: auto;
            }
        }
    }

    .about {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__content {
            margin-bottom: 30px;
            max-width: 100%;
        }

        &__btn-wrapper {
            text-align: center;
        }
    }

    .achievements {
        &__title {
            text-align: center;
        }
        
        &__slider-wrapper {
            margin: 0 auto;
        }
    }

    .item {
        &__slider-wrapper {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        &__inner {
            justify-content: space-between;
        }

        &__info {
            max-width: 100%;
        }
        
        &__slider {
            margin-left: 0;
            margin-bottom: 25px;
        }

        &__slider-thumbs {
            width: 640px;
            height: 170px;
            margin: 0;
        }
    
    }
}

@media (max-width: 1024px) {
    .hero {
        &__inner {
            margin-left: auto;
        }
    }
}

@media (max-width: 991px) {
    .text-page {
        &__slider-wrapper {
            float: none;
            margin: 0 auto;
            margin-bottom: 50px;
            width: 100%;
        }

        &__slider {
            width: 100%;
        }
        
        &__slider-thumbs {
            display: none;
        }
    }
    
    .footer {
        &__top {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__logo {
            margin-bottom: 30px;
        }

        &__call {
            margin-bottom: 30px;
        }

        &__navigation {
            justify-content: center;
            ul {
                margin-left: 30px;
                margin-right: 30px;
                &:first-child {
                    margin-left: 30px;
                }
            }
        }
    }
}

@media (max-width: 979px) {
    .item {
        &__slider-wrapper {
            margin: 0 auto;
            margin-bottom: 50px;
        }

        &__inner {
            flex-wrap: wrap;
            align-items: center;
        }
    }
    
    .reviews {
        padding: 5px 0;
        &__item {
            align-items: center;
        }

        &__img {
            margin-top: 0;
        }
    }
}

@media (max-width: 850px) {
    .order {
        &__inner {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__content {
            margin-bottom: 50px;
            max-width: 100%;
        }

        &__banner {
            margin-left: 0;
            width: auto;
        }
    }

    .services {
        &__items {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__item {
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
            margin-bottom: 40px;
        }

        &__item--big {
            max-width: 100%;
        }

        &__img {
            img {
                margin: 0 auto;
                width: 100%;
                height: auto;
            }
        }

        
    }
}

@media (max-width: 768px) {
    .list {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .categories {
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0;

        &__list {
            li > ul li ul  {
                display: none;
            }

            &.open li > ul li ul {
                display: block;
            }

            position: relative;
            padding-right: 0;

            li.active > a {
                position: relative;
                
                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    right: 17px;
                    top: 50%;
                    width: 2px;
                    height: 7px;
                    transform: translateY(-50%) rotate(-45deg);
                    background-color: #000;
                    transition: .3s ease;
                }
    
                &::after {
                    transform: translateY(-50%) rotate(45deg);
                    right: 13px;
                }
            }

        }
    }
    
    .item {
        &__slider {
            width: 440px;
            height: 350px;
        }

        &__slider-thumbs {
            width: 440px;
        }

        &__info {
            margin-left: 0;
        }
    }
    
    .text-page {
        &__head {
            font-size: 16px;
            line-height: 24px;
        }
        &__box {
            padding: 15px 20px;
        }
    }
    
    .footer {
        &__phone {
            font-size: 26px;
        }
    }
    
    .design {
        padding: 15px 0;
        &__title {
            text-align: center;
        }
    }
    
    .order {
        padding: 30px 0;

        &__btn {
            font-size: 16px;
            padding: 15px 30px;
        }

        &__banner {
            flex-shrink: 1;
        }

        &__banner-title {
            font-size: 22px;
            line-height: 26px;
        }
    }
    
    body {
        font-size: 14px;
    }

    .title {
        font-size: 28px;
        line-height: 32px;
    }
    
    .header {
        &__logo {
            img {
                width: 250px;
            }
        }

        &__phone {
            font-size: 26px;
        }
    }
    
    .navigation {
        &__inner {
            flex-direction: column;
            padding-top: 40px;
            margin: 0 -15px;

            ul {
                display: none;
            }

            &.active > ul {
                display: block;
            }
        }

        &__list {
            flex-direction: column;
            width: 100%;

            & > li {
                border-bottom: 1px solid $light;
            }

            li {
                ul {
                    position: static;
                    width: 100%;
                    padding-left: 15px;
                    padding-right: 15px;

                    li {
                        background-color: #fff;
                    }
                }
                &.open {
                    ul {
                        display: block;
                    }
                }
            }
        }

        &__right {
            flex-direction: column;
            width: 100%;
        }

        li, li a {
            width: 100%;
        }
        
        &__list > li > a {
            position: relative;
            padding-right: 25px;

            &::before,
            &::after {
                position: absolute;
                content: "";
                right: 17px;
                top: 50%;
                width: 2px;
                height: 7px;
                transform: translateY(-50%) rotate(-45deg);
                background-color: #ffffff;
                transition: .3s ease;
            }

            &::after {
                transform: translateY(-50%) rotate(45deg);
                right: 13px;
            }
        }

        &__btn {
            display: block;
        }
    }

    .hero {
        &__wrapper {
            min-height: 400px;
            padding-top: 30px;
            padding-bottom: 30px;
            align-items: center;
        }

        &__title {
            font-size: 34px;
            line-height: 40px;
        }
    }

    .works {
        padding-top: 10px;

        &__slider {
            height: 340px;
        }
        
        &__slider-thumbs {
            display: none;
        }
    }

}

@media (max-width: 675px) {
    .list {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            width: 100%;
            min-height: 460px;
            margin-left: 0;
            margin-right: 0;
        }

        &__item-btn {
            left: 50%;
            transform: translateX(-50%);
        }

        &__img {
            width: 310px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 580px) {

    .title {
        font-size: 24px;
        text-align: center;
        line-height: 28px;
    }

    .works {
        &__tab {
            padding-right: 10px;
            padding-left: 10px;
        }
        
        &__head {
            flex-direction: column;
            align-items: center;
        }

        &__tabs {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 480px) {
    .item {
        &__slider {
            width: 100%;
            height: 250px;
        }

        &__slider-thumbs {
            display: none;
        }
    }
    
    .pagination {
        li {

            &:first-child {
                margin-left: 12px;
            }
        }
    }

    .footer {
        &__call {
            flex-direction: column;
        }

        &__phone {
            margin-bottom: 30px;
        }

        &__navigation {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            ul {
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
                width: 100%;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    display: block;
                }
            }
        }

    }
    
    .header {
        &__call {
            flex-direction: column;
        }

        &__phone {
            margin-bottom: 20px;
        }

        &__languages {
            justify-content: center;
        }

        &__right {
            margin-top: 30px;
        }

        &__text {
            margin-top: 20px;
            margin-left: 0;
            font-weight: 600;
            text-align: center;
        }
    }

    .hero {
        background-position: left -100px center;

        &__title {
            font-size: 30px;
            line-height: 36px;
        }
    }

    .achievements {
        &__slider-wrapper {
            max-width: 300px;
        }
    }

    .reviews {

        &__slider {
            height: 240px;
        }

        &__wrapper {
            margin: 0;
        }

        &__button-prev,
        &__button-next {
            display: none;
        }

        &__content {
            margin-left: 5px;
        }

        &__img {
            img {
                width: 80px;
            }
        }
    }
}

@media (max-width: 400px) {
    .achievements {
        &__button-next,
        &__button-prev {
            display: none;
        }
    }

    .list {
        &__img {
            width: 100%;
        }
        &__item {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 375px) {
    .works {
        &__slider {
            height: 280px;
        }
    }

    .list {
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 20px;
        }
    }
}


@media (min-width: 769px) {
    .navigation {
        li:hover {

            ul {
                display: block;
            }
        }
    }

    .list {
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            
            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: -50px;
                margin: 0 auto;
                width: 101px;
                height: 250px;
                overflow: hidden;
            }
    
            &:last-child {
                &::after {
                    right: -160px;
                    left: auto;
                }
            }
    
            &:first-child {
                &::after {
                    left: -159px;
                }
            }
        }
    }
}