$primary: #4b636e;
$light: #78909c;

@mixin font($name) {
    @if $name == 'akzidenz' {
        font-family: 'Akzidenz', Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    @if $name == 'trivia' {
        font-family: 'Trivia-Regular', Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    @if $name == 'trivia-book' {
        font-family: 'Trivia-Book', Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    @if $name == 'trivia-hairline' {
        font-family: 'Trivia-Hairline', Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
}  